<div class="row">
    <div class="container-fluid">
        <!-- Loading Animation -->
        <app-loading-animation *ngIf="isLoading"></app-loading-animation>
        <!-- Error Message component -->
        <app-station-error *ngIf="serverError; else new" [errorText]="errorMessage"></app-station-error>

        <ng-template #new>
            <ul class="card-deck" *ngFor="let station of planList">
                <div class="card"
                [class.isBus]="station.mode.title==='Bus'"
                [class.isTram] = "station.mode.title === 'Straßenbahn'"
                [class.isBahn] = "station.mode.title === 'S-Bahn'"
                [class.isZug] = "station.mode.title === 'Zug'"
                >
                    <div class="card-body">
                        <h5 class="card-title">{{station.direction}}<small><img [src]="station.mode.iconUrl" class="float-right"></small></h5>
                        <p class="card-text">{{station.mode.title}}-{{station.line}}, Arrival in {{station.arrivalTimeRelative}} mins</p>
                        <p class="card-text"><small class="text-muted">Platform: {{ station.hasOwnProperty('platform') ? station.platform.name : "Unknown"}}</small></p>
                    </div>
                    </div>
            </ul>
        </ng-template>
    </div>
</div>